.task__contanier {
  width: 100%;
}
.task__create {
  width: 95%;
  max-width: 700px;
  margin: 20px auto;
}
.create__button {
  background-color: var(--primary);
  padding: 10px 20px;
  color: var(--complementary);
  box-shadow: 0px 2px 5px #797979;
  border-radius: 5px;
  font-family: 'Lato';
  font-weight: bold;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}
.create__button:hover {
  box-shadow: 0px 5px 10px #797979;
  color: var(--secundary);
}
