.Header__container {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  height: 60px;
  box-shadow: 0px 1px 15px #797979;
}
.Header {
  max-width: 1100px;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
.Header__Navbar ul {
  list-style: none;
  display: flex;
}
.link {
  text-decoration: none;
  color: var(--white);
  margin-left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s;
}
.link[aria-current] {
  color: var(--secundary);
}
.link:hover {
  color: var(--secundary);
}
.Header__Logo {
  background-image: url('../../img/mainlogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 150px;
  transition: 0.2s;
}
.Header__Logo:hover {
  background-image: url('../../img/mainlogoact.png');
}
