html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
a {
  line-height: 1rem;
  color: var(--dark);
}
h1 {
  line-height: 1rem;
}
h2 {
  line-height: 1rem;
  color: var(--dark);
}
p {
  color: var(--dark);
}
:root {
  --white: #fff;
  --primary: #20232a;
  --secundary: #61dafb;
  --complementaryDark: #282c34;
  --complementary: #f7f7f7;
  --dark: #333;
}
