.task {
  width: 95%;
  max-width: 700px;
  padding: 10px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-content: start;
  background-color: var(--complementary);
  box-shadow: 0px 5px 10px #797979;
  border-radius: 5px;
}

.task__check {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task__info {
  margin-left: 10px;
  width: 100%;
}
.task__info h2 {
  margin-block-end: 10px;
  font-size: 2rem;
}
.task__info p {
  font-size: 1rem;
}
.task__line {
  height: 4px;
  width: 80%;
  background-color: var(--secundary);
}
.check {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 3px solid var(--secundary);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 5px #797979;
  color: #797979;
}
.check:hover {
  color: var(--secundary);
  text-shadow: 2px 2px;
}
